# core
**/.venv
**/.vscode
**/__pycache__

# pyenv
*.python-version

# fall 2026 grader
**/.grader
**/.pytest_cache
**/tests
*.env
*.ini
*.json
*.provenance-manifest
*conftest.py

# fall 2020 grader
*.ok
*.ok_history
*.ok_storage
*ok

# personal
daycounter.txt
notes.txt